#main{
  height: 200px;
  width: 70px;
  border: 2px solid black;
}

.inn{
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 10px;
}

#divv{
  background-color: red;
}

#divvv{
  background-color: yellow;
}

#divvvv{
  background-color: green;
}
