p{
  color:#964B00 ;
  text-align: center;
  line-height: 30px;
  
}
.under{
  text-decoration: underline;
}

h1{
  text-align: center;
  color: :red;
}

h3{
  text-align: center;
  color: black;
}

h4{
  text-align:center;
  
}

body{
  font-family: Georgia;
}

a{
  color: green;
  text-decoration: none;
}

button{
  background-color: white;
  color: blueviolet;
}

textarea{
  color: #000;
}