#main{
  height: 400px;
  width: 400px;
  border: 2px solid blueviolet;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}

.alp{
  height: 100px;
  width: 100px;
  font-size: 50px;
  border: 1px solid black;
  background-color: palevioletred;
  border-radius: 15px;
  text-align: center;
}